@{
    ViewBag.Title = "Zubair Portfolio";
}

<div class="top-container">
    <div class="Intro">
        <h1>I'm Mogammad Zubair Esau</h1>
        <p id="p1">a developer intern.</p>
    </div>
    @*<img id="mountain" src="~/Content/img/back-round.jpg" alt="mountain-img">*@
</div>

<div class="middle-container">
    <div class="profile">
        <img class="midlogo" src="~/Content/img/logo.jpg" alt="profilepic">
        <h2>Hey!</h2>
        <p class="p2">
            As an intern, I have gained valuable experience in web application development using
            Asp.net MVC, Asp.Net WebForms, C#, Ajax, SQL, LINQ, HTML, CSS, JavaScript and
            Bootstrap . My experience includes working on both front-end and back-end aspects
            of web applications, ensuring seamless integration and user-friendly interfaces.
            Additionally, I have explored business intelligence tools such as Power BI, SSRS, and
            SSMS, allowing me to analyze and visualize data effectively. My experience in this
            internship has provided me with a strong foundation in web application development
            and business intelligence, enabling me to contribute effectively to future projects.
        </p>
    </div>
    <hr>
    <div class="skills">
        <br />
        <br />
        <h2>My Knowledege.</h2>
        <div>
            <h3>Front End</h3>
            <br />
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/html/html.png" alt="HTML5">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/css/css.png" alt="CSS3">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png" alt="Javascript">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/bootstrap/bootstrap.png" alt="Bootstrap">

        </div>
        <br />
        <div>
            <h3>Back End</h3>
            <br />
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/java/java.png" alt="Java">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/31ea1181d4a76262931a39ca68e0203774a69b60/topics/csharp/csharp.png" alt="C#">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" alt="Python">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/4479d2a2c854198cb00160f8593519c14dc3b905/topics/kotlin/kotlin.png" alt="Kotlin">

        </div>
        <br />
        <div>
            <h3>Other Proficiencies</h3>
            <br />
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mysql/mysql.png" alt="MySQL">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mongodb/mongodb.png" alt="MongoDB">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/git/git.png" alt="Git">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/a92591a79a4ce31660058d7ccc66c79266931f61/topics/dotnet/dotnet.png" alt=".NET">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/59009b1589a883459c0ae19044e3e7e3ec0c4e0a/topics/gradle/gradle.png" alt="Gradle">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/jquery/jquery.png" alt="jQuery">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/json/json.png" alt="Json">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/maven/maven.png" alt="Maven">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/spring-boot/spring-boot.png" alt="Springboot">
            <img class="skill_img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/xamarin/xamarin.png" alt="Xamarin">
        </div>
        <br />
        <br />
        <br />
    </div>
    <br />
    <a class="btn" href="@Url.Action("Portfolio", "Home")">My Projects</a>
    <hr>
    <div id="contact" class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you like my work and skills </h3>
        <p class="p2">If you need to get in touch for anything then feel free to get in contact.</p>
        <a class="btn" href="esau.zubair98@gmail.com">MESSAGE ME</a>
    </div>
</div>
