@{
    ViewBag.Title = "My Projects";
}

<div class="top-container">
    <div class="Intro">
        <h1>My Projects</h1>
    </div>
</div>

<div class="middle-container">
    <div class="profile">
        <h2>What I've been up to.</h2>
        <p class="p2">Here's a selection of some fun projects I've been working on in my spare time'. I've done these projects to sharpen my skills.</p>
    </div>
    <hr>
    <div class="project1">
        <div class="content">
            <img class="project_img" src="~/Content/img/project5.png">
            <h2 class="head"> Book Tracker Andriod Applicatoion </h2>
            <h3 class="head3">HTML/CSS/JavaScript/C#/Xamarin</h3>
            <p class="p3">A current project that i am working on that still requires a few finishing touches. But this andriod app allows user to track their books like a library and also allows them to search and look for books using the Google Api </p>
            <a class="mainbtn">Not Available Yet</a>
        </div>
    </div>
    <div class="project2">
        <div class="content">
            <img class="project_img" src="~/Content/img/project3.png">
            <h2 class="head">Weather Search WebApp </h2>
            <h3 class="head3">HTML/CSS/JavaScript</h3>
            <p class="p3">A web application that displays the weather for the location of your search</p>
            <a class="mainbtn" href="https://localhost:44315/Home/Index">View</a>
        </div>
    </div>
    <div class="project3">
        <div class="content">
            <img class="project_img" src="~/Content/img/project4.png">
            <h2 class="head">Note Maker</h2>
            <h3 class="head3">HTML/CSS</h3>
            <p class="p3">This is bascially a web application that allows user to make and delete notes</p>
            <a class="mainbtn" href="https://localhost:44373/Home/Index">View</a>
        </div>
    </div>
    <div class="project4">
        <div class="content">
            <img class="project_img" src="~/Content/img/project1.png">
            <h2 class="head">Randomize Colour Generator </h2>
            <h3 class="head3">HTML/CSS/JavaScript</h3>
            <p class="p3">A web application that changes the background colour by the click of a button. Colour selection is randomized</p>
            <a class="mainbtn" href="https://localhost:44371/Home/Index">View</a>
        </div>
    </div>
    <div class="project5">
        <div class="content">
            <img class="project_img" src="~/Content/img/project2.png">
            <h2 class="head">Pricing Cards</h2>
            <h3 class="head3">HTML/CSS</h3>
            <p class="p3">This is basically a landing website for pricing which has no functionality yet.</p>
            <a class="mainbtn" href="https://localhost:44320/Home/Pricing">View</a>
        </div>
    </div>

    <div id="contact" class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you like my work and skills </h3>
        <p class="p2">If you need to get in touch for anything then feel free to get in contact.</p>
        <a class="btn" href="esau.zubair98@gmail.com">MESSAGE ME</a>
    </div>
</div>
